# Binaries for programs and plugins
*.exe
*.exe~
example-go-schedule

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Nitric local log directory
.nitric/

# .env files
.env*
